// ====================================================================
// Elements SCSS for barrd.net
// ====================================================================

html {
  background: $color-dark-orange;
}

body {
  @media (min-width: $breakpoint-width-large) and (min-height: $breakpoint-height-large) {
    height: 100vh;
    background-image: radial-gradient(
      circle closest-side,
      $color-light-orange,
      $color-dark-orange
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  font-family: "Varela Round", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
