// Breakpoints
$breakpoint__small: 480px;
$breakpoint__medium: 768px;
$breakpoint__large: 1024px;

// Colours
$color__black-bare: "0f0d09";
$color__black: #{"#" + $color__black-bare};
$color__blue-bare: "005ba7";
$color__blue: #{"#" + $color__blue-bare};
$color__grey_mid-bare: "7e7c7c";
$color__grey_mid: #{"#" + $color__grey_mid-bare};
$color__grey_dark-bare: 232220;
$color__grey_dark: #{"#" + $color__grey_dark-bare};
$color__red-bare: "d03625";
$color__red: #{"#" + $color__red-bare};
$color__yellow-bare: "f8a50b";
$color__yellow: #{"#" + $color__yellow-bare};
$color__white-bare: "f5f5f5";
$color__white: #{"#" + $color__white-bare};

// Effects
$effect__transition: 0.25s ease-in-out;

// Extends
%arrow-black {
	content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.6%20278.6c12.5-12.5%2012.5-32.8%200-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l73.4%2073.4H32c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h370.7l-73.4%2073.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200l128-128z%22%20fill%3D%22%23" + $color__black-bare + "%22%2F%3E%3C%2Fsvg%3E");
}
%arrow-blue {
	content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.6%20278.6c12.5-12.5%2012.5-32.8%200-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l73.4%2073.4H32c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h370.7l-73.4%2073.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200l128-128z%22%20fill%3D%22%23" + $color__blue-bare + "%22%2F%3E%3C%2Fsvg%3E");
}
%arrow-grey-mid {
	content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.6%20278.6c12.5-12.5%2012.5-32.8%200-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l73.4%2073.4H32c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h370.7l-73.4%2073.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200l128-128z%22%20fill%3D%22%23" + $color__grey-mid-bare + "%22%2F%3E%3C%2Fsvg%3E");
}
%arrow-red {
	content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.6%20278.6c12.5-12.5%2012.5-32.8%200-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l73.4%2073.4H32c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h370.7l-73.4%2073.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200l128-128z%22%20fill%3D%22%23" + $color__red-bare + "%22%2F%3E%3C%2Fsvg%3E");
}
%arrow-white {
	content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M502.6%20278.6c12.5-12.5%2012.5-32.8%200-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l73.4%2073.4H32c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h370.7l-73.4%2073.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200l128-128z%22%20fill%3D%22%23" + $color__white-bare + "%22%2F%3E%3C%2Fsvg%3E");
}
