html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
center,
article,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
footer,
header,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

/* fb933a */
html {
  background: #c0422c; }

body {
  font-family: "Varela Round", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 690px) and (min-height: 660px) {
    body {
      height: 100vh;
      background-image: radial-gradient(circle closest-side, #fcb375, #c0422c);
      background-repeat: no-repeat;
      background-attachment: fixed; } }

a {
  text-decoration: none; }

#diamond-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2; }
  @media (min-width: 690px) and (min-height: 660px) {
    #diamond-list {
      height: 97vh; } }

#big-diamond {
  width: 400px; }
  @media (min-width: 690px) {
    #big-diamond {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      transform: rotate(45deg); } }
  @media (max-height: 659px) and (min-width: 689px) {
    #big-diamond {
      margin-top: 130px; } }
  @media (max-width: 689px) {
    #big-diamond {
      width: 200px; } }

.diamond {
  background-image: linear-gradient(-45deg, #fcb375, #f76432);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-shadow: 6px 6px 6px 1px #833124;
  transition: all 0.4s ease-in-out;
  border: 0; }
  @media (max-width: 689px) {
    .diamond {
      margin-top: 82px;
      transform: rotate(45deg);
      box-shadow: none; } }
  .diamond .diamond-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    width: 200px;
    height: 200px; }
    .diamond .diamond-content span {
      font-size: 1.25rem;
      text-align: center;
      color: #833124;
      transition: 0.75s ease-in-out;
      opacity: 0; }
      @media (max-width: 689px) {
        .diamond .diamond-content span {
          position: relative;
          font-size: 2.25rem;
          letter-spacing: 2px;
          opacity: 1; } }
    .diamond .diamond-content:hover span {
      opacity: 1; }
  .diamond:hover {
    box-shadow: -6px -6px 6px 1px #833124; }
    @media (max-width: 689px) {
      .diamond:hover {
        box-shadow: none; } }
  .diamond .diamond-top:after, .diamond .diamond-right:after, .diamond .diamond-left:after, .diamond .diamond-bottom:after {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    content: "";
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    pointer-events: auto !important; }
    @media (max-width: 689px) {
      .diamond .diamond-top:after, .diamond .diamond-right:after, .diamond .diamond-left:after, .diamond .diamond-bottom:after {
        background-size: 120px 120px;
        opacity: 0.95; } }
  .diamond .diamond-top:after {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20496%20512%22%3E%3Cpath%20d%3D%22M165.9%20397.4c0%202-2.3%203.6-5.2%203.6-3.3.3-5.6-1.3-5.6-3.6%200-2%202.3-3.6%205.2-3.6%203-.3%205.6%201.3%205.6%203.6zm-31.1-4.5c-.7%202%201.3%204.3%204.3%204.9%202.6%201%205.6%200%206.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2%202.3zm44.2-1.7c-2.9.7-4.9%202.6-4.6%204.9.3%202%202.9%203.3%205.9%202.6%202.9-.7%204.9-2.6%204.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8%208C106.1%208%200%20113.3%200%20252c0%20110.9%2069.8%20205.8%20169.5%20239.2%2012.8%202.3%2017.3-5.6%2017.3-12.1%200-6.2-.3-40.4-.3-61.4%200%200-70%2015-84.7-29.8%200%200-11.4-29.1-27.8-36.6%200%200-22.9-15.7%201.6-15.4%200%200%2024.9%202%2038.6%2025.8%2021.9%2038.6%2058.6%2027.5%2072.9%2020.9%202.3-16%208.8-27.1%2016-33.7-55.9-6.2-112.3-14.3-112.3-110.5%200-27.5%207.6-41.3%2023.6-58.9-2.6-6.5-11.1-33.3%202.6-67.9%2020.9-6.5%2069%2027%2069%2027%2020-5.6%2041.5-8.5%2062.8-8.5s42.8%202.9%2062.8%208.5c0%200%2048.1-33.6%2069-27%2013.7%2034.7%205.2%2061.4%202.6%2067.9%2016%2017.7%2025.8%2031.5%2025.8%2058.9%200%2096.5-58.9%20104.2-114.8%20110.5%209.2%207.9%2017%2022.9%2017%2046.4%200%2033.7-.3%2075.4-.3%2083.6%200%206.5%204.6%2014.4%2017.3%2012.1C428.2%20457.8%20496%20362.9%20496%20252%20496%20113.3%20383.5%208%20244.8%208zM97.2%20352.9c-1.3%201-1%203.3.7%205.2%201.6%201.6%203.9%202.3%205.2%201%201.3-1%201-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7%201.3.3%202.9%202.3%203.9%201.6%201%203.6.7%204.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4%2035.6c-1.6%201.3-1%204.3%201.3%206.2%202.3%202.3%205.2%202.6%206.5%201%201.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6%201-1.6%203.6%200%205.9%201.6%202.3%204.3%203.3%205.6%202.3%201.6-1.3%201.6-3.9%200-6.2-1.4-2.3-4-3.3-5.6-2z%22%20fill%3D%22%23f76432%22%2F%3E%3C%2Fsvg%3E"); }
  .diamond .diamond-right:after {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M100.28%20448H7.4V148.9h92.88zM53.79%20108.1C24.09%20108.1%200%2083.5%200%2053.8a53.79%2053.79%200%200%201%20107.58%200c0%2029.7-24.1%2054.3-53.79%2054.3zM447.9%20448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29%200-55.69%2037.7-55.69%2076.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5%2042.69-48.3%2087.88-48.3%2094%200%20111.28%2061.9%20111.28%20142.3V448z%22%20fill%3D%22%23f76432%22%2F%3E%3C%2Fsvg%3E"); }
  .diamond .diamond-left:after {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M459.37%20151.716c.325%204.548.325%209.097.325%2013.645%200%20138.72-105.583%20298.558-298.558%20298.558-59.452%200-114.68-17.219-161.137-47.106%208.447.974%2016.568%201.299%2025.34%201.299%2049.055%200%2094.213-16.568%20130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772%206.498.974%2012.995%201.624%2019.818%201.624%209.421%200%2018.843-1.3%2027.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969%207.797%2030.214%2012.67%2047.431%2013.319-28.264-18.843-46.781-51.005-46.781-87.391%200-19.492%205.197-37.36%2014.294-52.954%2051.655%2063.675%20129.3%20105.258%20216.365%20109.807-1.624-7.797-2.599-15.918-2.599-24.04%200-57.828%2046.782-104.934%20104.934-104.934%2030.213%200%2057.502%2012.67%2076.67%2033.137%2023.715-4.548%2046.456-13.32%2066.599-25.34-7.798%2024.366-24.366%2044.833-46.132%2057.827%2021.117-2.273%2041.584-8.122%2060.426-16.243-14.292%2020.791-32.161%2039.308-52.628%2054.253z%22%20fill%3D%22%23f76432%22%2F%3E%3C%2Fsvg%3E"); }
  .diamond .diamond-bottom:after {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M61.7%20169.4l101.5%20278C92.2%20413%2043.3%20340.2%2043.3%20256c0-30.9%206.6-60.1%2018.4-86.6zm337.9%2075.9c0-26.3-9.4-44.5-17.5-58.7-10.8-17.5-20.9-32.4-20.9-49.9%200-19.6%2014.8-37.8%2035.7-37.8.9%200%201.8.1%202.8.2-37.9-34.7-88.3-55.9-143.7-55.9-74.3%200-139.7%2038.1-177.8%2095.9%205%20.2%209.7.3%2013.7.3%2022.2%200%2056.7-2.7%2056.7-2.7%2011.5-.7%2012.8%2016.2%201.4%2017.5%200%200-11.5%201.3-24.3%202l77.5%20230.4L249.8%20247l-33.1-90.8c-11.5-.7-22.3-2-22.3-2-11.5-.7-10.1-18.2%201.3-17.5%200%200%2035.1%202.7%2056%202.7%2022.2%200%2056.7-2.7%2056.7-2.7%2011.5-.7%2012.8%2016.2%201.4%2017.5%200%200-11.5%201.3-24.3%202l76.9%20228.7%2021.2-70.9c9-29.4%2016-50.5%2016-68.7zm-139.9%2029.3l-63.8%20185.5c19.1%205.6%2039.2%208.7%2060.1%208.7%2024.8%200%2048.5-4.3%2070.6-12.1-.6-.9-1.1-1.9-1.5-2.9l-65.4-179.2zm183-120.7c.9%206.8%201.4%2014%201.4%2021.9%200%2021.6-4%2045.8-16.2%2076.2l-65%20187.9C426.2%20403%20468.7%20334.5%20468.7%20256c0-37-9.4-71.8-26-102.1zM504%20256c0%20136.8-111.3%20248-248%20248C119.2%20504%208%20392.7%208%20256%208%20119.2%20119.2%208%20256%208c136.7%200%20248%20111.2%20248%20248zm-11.4%200c0-130.5-106.2-236.6-236.6-236.6C125.5%2019.4%2019.4%20125.5%2019.4%20256S125.6%20492.6%20256%20492.6c130.5%200%20236.6-106.1%20236.6-236.6z%22%20fill%3D%22%23f76432%22%2F%3E%3C%2Fsvg%3E"); }

.diamond-top:hover:after,
.diamond-right:hover:after,
.diamond-left:hover:after,
.diamond-bottom:hover:after {
  opacity: 0.25; }
  @media (max-width: 689px) {
    .diamond-top:hover:after,
    .diamond-right:hover:after,
    .diamond-left:hover:after,
    .diamond-bottom:hover:after {
      opacity: 1; } }

.site-link, footer {
  position: absolute;
  pointer-events: none;
  transform: rotate(-90deg);
  color: #833124; }

.site-link {
  top: 110px;
  left: -95px;
  font-size: 1.25rem; }

footer {
  bottom: 86px;
  left: 327px;
  white-space: nowrap; }
  @media (max-width: 689px) {
    footer {
      bottom: 86px;
      left: 122px; } }

#yin-yang-cont {
  z-index: 9;
  position: absolute;
  pointer-events: none; }
  @media (min-width: 690px) and (min-height: 660px) {
    #yin-yang-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100vw;
      height: 97vh; } }
  @media (max-height: 660px) {
    #yin-yang-cont {
      position: relative;
      width: 160px;
      margin: -280px auto 0 auto; } }
  @media (max-width: 689px) {
    #yin-yang-cont {
      position: relative;
      top: -603px;
      width: 160px;
      margin: 0 auto; } }

#yin-yang {
  position: relative;
  pointer-events: auto;
  background: #fcb375;
  opacity: 0.4;
  width: 160px;
  height: 80px;
  box-sizing: content-box;
  border-color: #f76432;
  border-style: solid;
  border-width: 0 0 80px 0;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: box-shadow 1.2s, opacity 1.2s; }
  @media (max-width: 689px) {
    #yin-yang {
      opacity: 0.75; } }
  #yin-yang:hover {
    box-shadow: -6px -6px 6px 1px #833124;
    opacity: 1; }
  #yin-yang:hover a div {
    opacity: 1; }
  #yin-yang:before {
    position: absolute;
    content: "";
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    background: #fcb375;
    border: 30px solid #f76432; }
  #yin-yang:after {
    position: absolute;
    content: "";
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -99;
    left: 80px;
    background: #f76432;
    border: 30px solid #fcb375; }
  #yin-yang a {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #833124;
    width: 160px;
    height: 160px; }
    #yin-yang a div {
      position: relative;
      z-index: 99;
      text-align: center;
      font-size: 1.25rem;
      opacity: 0;
      transition: 0.75s ease-in-out; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
