// ====================================================================
// Variables SCSS for barrd.net
// ====================================================================

// Colours
$color-dark-text: #833124; // body text & drop shadow
$color-dark-orange: #c0422c; // background
$color-mid-orange: #f76432;
$color-light-orange: #fcb375; /* fb933a */

// Diamonds
$cell-width: 200px;
$cell-height: $cell-width;
$grid-width: $cell-width * 2;
$bg-width: $cell-width * 0.5;
$bg-width-small: $cell-width * 0.6;

// Media Breakpoints
$breakpoint-width-large: 690px; // Min width for large
$breakpoint-height-large: 660px; // Min height for large

$breakpoint-width-small: $breakpoint-width-large - 1; // Max width for small
$breakpoint-height-small: $breakpoint-height-large - 1; // Max height for small
