// ====================================================================
// Yin Yang SCSS for barrd.net
// ====================================================================

#yin-yang-cont {
  z-index: 9;
  position: absolute;
  pointer-events: none;
  @media (min-width: $breakpoint-width-large) and (min-height: $breakpoint-height-large) {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 97vh;
  }
  @media (max-height: $breakpoint-height-large) {
    position: relative;
    width: 160px;
    margin: -280px auto 0 auto;
  }
  @media (max-width: $breakpoint-width-small) {
    position: relative;
    top: -603px;
    width: 160px;
    margin: 0 auto;
  }
}

#yin-yang {
  position: relative;
  pointer-events: auto;
  background: $color-light-orange;
  opacity: 0.4;
  width: 160px;
  height: 80px;
  box-sizing: content-box;
  border-color: $color-mid-orange;
  border-style: solid;
  border-width: 0 0 80px 0;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: box-shadow 1.2s, opacity 1.2s;

  @media (max-width: $breakpoint-width-small) {
    opacity: 0.75;
  }

  &:hover {
    box-shadow: -6px -6px 6px 1px $color-dark-text;
    opacity: 1;
  }
  &:hover a div {
    opacity: 1;
  }

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    background: $color-light-orange;
    border: 30px solid $color-mid-orange;
  }
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -99;
    left: 80px;
    background: $color-mid-orange;
    border: 30px solid $color-light-orange;
  }

  a {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-text;
    width: 160px;
    height: 160px;

    & div {
      position: relative;
      z-index: 99;
      text-align: center;
      font-size: 1.25rem;
      opacity: 0;
      transition: 0.75s ease-in-out;
      animation-name: counterspin;
      animation-duration: 30000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterspin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  #yin-yang {
    animation: none;
  }
}
